header {
    background-color: rgb(247, 194, 194);
}
header h1 {
    margin: 0;
}
section {
    display: flex;
}
main {
    background-color: rgb(168, 247, 181);
    height: 100px;
    flex-basis: 50%;
}
nav {
    background-color: rgb(151, 244, 244);
    height: 100px;
    flex-basis: 50%;
}
footer {
    background-color: rgb(248, 248, 165);
    height: 100px;
}
